dist/*
node_modules
.env

*_sessions
*tokens
.wwebjs*

*.log
*qr.png
RESUMEN_IMPLEMENTACION.md
SISTEMA_PROACTIVO.md
src/utils/metricsDB.json
src/utils/userSessionsDB.json
src/utils/userAttemptsDB.json
DOCUMENTACION_TECNICA.md
CAMPANAS_README.md